.navbar{
    display: flex;
    height: 60px;
    flex-basis: 100%;
    margin: 0px auto;
    align-content: center;
    box-sizing: border-box;
}
.navbar-brand{
    flex-grow: 1;
    font-size: 35px;
    color: black;
    font-family: OpenSans-Bold;
}


.addmember{
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.addmember button{
    border-radius: 24px;
    background-color: #4b74ff;
    font-family: Heebo-Regular;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}
.addmember button:hover{
    background-color: white;
    color: #4b74ff;
    border: 1px solid #4b74ff;
}