.container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.listColumn{
  width: 29%;
}
.detailColumn{
  width: 67%;
}

.popupWindow{
  position: fixed;
  z-index: 5000;
  background: rgba(227, 229, 231, 0.84);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  overflow-y: auto;
  pointer-events: initial;
}

.popup-container{
  position: relative;
    z-index: 2;
    box-shadow: black;
    top: 10%;
    margin: 0px auto;
    width: 500px;
    padding: 15px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px #8C8C8C;
    height: 600px;
  overflow: auto;
  background-color: white;
}
h1{
  padding: 25px 0;
    box-sizing: border-box;
    position: relative;
    width: 470px;
    top: 10px;
    margin: 0 auto;
    font-family: Heebo-Regular;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.55;
    text-align: center;
    color: #333333;
}
.closeButton{
  background: none;
  border: none;
  color: black;
  outline: none;
  float: right
}
.closeButton:hover{
  color: red;
}

.formContainer{
  width: 100%;
  
  box-shadow: 10px #8C8C8C;
}
